#login-popup {
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
    margin: 20px auto;
    border-radius: 5px;

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-top: 10px;
        }

        input {
            width: 100%;
            padding: 5px;
            margin-top: 5px;
        }

        button {
            margin-top: 10px;
            padding: 8px 12px;
            background-color: #66B266;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 3px;

            &:hover {
                background-color: #276927;
            }
        }
    }
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;

    #busqueda-rapida {
        background: linear-gradient(45deg, #c4fff0, #1b9986);
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;

        form {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;

            label {
                flex-basis: 100%;
            }

            input {
                flex: 1;
                padding: 8px;
                background-color: #10bb82;
                border: 1px solid #ccc;
                border-radius: 25px;
                color: white;
                outline: none;
            }

            button {
                padding: 8px 12px;
                background-color: #fff;
                color: #66B266;
                border: none;
                cursor: pointer;
                border-radius: 3px;
            }
        }
    }
}

/* --------------------------------------------------
   MEDIA QUERIES
-------------------------------------------------- */

@media (max-width: 767px) {
    main {
        #busqueda-rapida form {
            flex-direction: column;
            align-items: stretch;

            input,
            button {
                width: 100%;
            }
        }
    }
}